* {
    margin: 0;
    padding: 0;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}


.wrapper {
    padding: 0 9vw;
    max-width: 1440px;
    margin: auto;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}