:root {
    --swiper-theme-color: #FF7a50;
}

/* Review Swiper */
.reviewSwiper {
    width: 100%;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: '';
    }
}

.review-swiper-buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: -15px;
    right: 0;
}

.review-swiper-button-next,
.review-swiper-button-prev {
    border: none;
    background-color: transparent;
    top: 0;
    z-index: 10;
}
.review-swiper-button-prev {
    left: 5px;
}

.review-swiper-button-next {
    right: 10px;
}
/* Review Swiper END*/

/* Food Swiper */
.swiper-food {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    display: block;

    .swiper-button-prev:after,
    .swiper-button-next:after {
        content: '';
    }

}

.swiper-food__pagination {
    bottom: 10px !important;
    z-index: 1;
}
/* Food Swiper END*/