.two-column-block {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;


    &__illustration {
        width: 100%;
        object-fit: contain;
    }

    &__description {
        max-width: 40vw;
    }


}

.description {

    &__title,
    &__text,
    &__links {
        margin-bottom: 30px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;

        list-style: none;
        text-decoration: none;
    }

}