.two-column-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;

    @media (max-width: $tablet-xs-width) {

        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;

    }

    &__illustration {
        width: 100%;
        object-fit: contain;
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (max-width: $tablet-xs-width) {
            align-items: center;
            padding: 6vw;
        }
    }
}

.description {

    &__links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;

        list-style: none;
        text-decoration: none;
    }
}