/* font-colors */

$main-color: #363853;
$secondary-color: #FF7a50;
$light-color: #aaaaaa;
$secondary-lighten: lighten($secondary-color, 7%);
$secondary-darken: darken($secondary-color, 7%);

/*screen width: */

$tablet-width: 1000px;
$mobile-width: 360px;

/*icon upload */
@define-mixin icon $name {
    background-image: url("./../img/icons/$name.svg");
    background-repeat: no-repeat;
    background-position: left;
}

/*icon upload */
@define-mixin quotes {
    position: absolute;

    width: 32px;
    height: 32px;
    content:"";
    background-image: url("./../img/icons/quotes.svg");
    background-repeat: no-repeat;
}

