.advantages-block {
    @media (max-width: 700px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.advantages__illustration {

    @media (max-width: 700px) {
        position: absolute;
        width: 60vh;
        opacity: 10%;
    }
}

.advantages-list {
    padding-bottom: 30px;

    @mixin fluid-text 24, 16;
    line-height: 1.25;

    list-style: none;

    &__item {
        min-height: 30px;
        padding-left: 56px;
        margin-bottom: 25px;

        text-transform: capitalize;

        &--speed {
            @mixin icon timer;
        }

        &--men {
            @mixin icon delivery;
        }
        &--restaurants {
            @mixin icon restaurant;
        }
    }
}


.button--advantages {
    min-width: 176px;
    min-height: 58px;
    border-radius: 30px 30px 1px 30px;
}