.button {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 30px;
    padding: 7px;

    color: #ffffff;
    text-decoration: none;

    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 22px 40px 0 rgba(255, 104, 56, 0.19);

    &:hover,
    &:focus {
        background-color: var(--secondary-lighten);
    }

    &:active {
        background-color: var(--secondary-darken);
    }
}