.button {

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 30px;
    padding: 7px;


    color: #ffffff;

    background-color: $secondary-color;
    border: none;
    border-radius: 5px;


}