.footer-navigation {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: 30px;

    @media (max-width: $tablet-s-width ) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        height: 100%;

    }

    &__sitemap {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;

        @mixin fluid-text 18, 16;
        line-height: 1.12;
        color: #37383d;
        list-style: none;

        @media (max-width: $tablet-s-width ) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;

    list-style: none;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 40px;
        height: 40px;

        border-radius: 50%;
        background-color: #eeeeef;
    }
}

.sitemap-category {
    min-width: 106px;

    &__list {
        display: none;
        list-style: none;

        @media (min-width: $tablet-s-width) {
            display: block;
        }

        &--open {
            display: block;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-right: 10px;

        font-weight: 500;
    }

    &__item {
        @mixin fluid-text 18, 14;
        line-height: 1.2;

        padding: 13px 0;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__toggle {
        position: relative;
        display: inline-block;
        width: 10px;
        height: 10px;

        @media (min-width: $tablet-s-width) {
            display: none;
        }

        &--closed {
            &::before {
                position: absolute;
                left: 4px;
                bottom: 1px;
                height: 3px;
                width: 80%;
                background-color: var(--secondary-color);
                content: "";
                transform: translateX(5px) rotate(45deg);
                transform-origin: left bottom;
            }

            &::after {
                position: absolute;
                left: 8px;
                bottom: 1px;
                height: 3px;
                width: 80%;
                background-color: var(--secondary-color);
                content: "";
                transform: translateX(5px) rotate(-45deg);
                transform-origin: right bottom;
            }
        }

        &--open {
            &::before {
                position: absolute;
                left: 7px;
                bottom: -1px;
                height: 3px;
                width: 80%;
                background-color: var(--secondary-color);
                content: "";
                transform: translateX(5px) rotate(-45deg);
                transform-origin: left bottom;
            }

            &::after {
                position: absolute;
                left: 7px;
                bottom: -1px;
                height: 3px;
                width: 80%;
                background-color: var(--secondary-color);
                content: "";
                transform: translateX(5px) rotate(45deg);
                transform-origin: right bottom;
            }
        }
    }
}

.legal {
    font-size: 14px;
    line-height: 1;
    color: #646464;

    border-top: 1px solid #969696;

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 26px 0 36px;
        gap: 30px;
    }

    &__documents {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

.legal-documents {
    list-style: none;

    &__link {
        text-decoration: none;
    }
}

.contacts {
    @mixin fluid-text 16, 14;
    line-height: 1.25;

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__link {
        margin-bottom: 5px;
    }

    p {
        padding-left: 30px;
        height: 20px;
    }

    &__address {
        @mixin icon location;
    }

    &__phone {
        @mixin icon phone;
    }

    &__email {
        @mixin icon email;
    }
}
