.header-navigation {

    /* Позиционирование */

    /* Блочная модель */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 60px;
    row-gap: 15px;

    width: 100%;
    min-height: 50px;

    /* Типографика */
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.15;
    color: $main-color;

    /* Оформление */


    &__logo {
        margin-right: auto;
    }

    &__menu {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 60px;
        max-width: 450px;

        list-style: none;

    }
}


.menu {

    &__link {
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }
}

.toolbar {

    &__list {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
        max-width: 290px;
        height: 100%;

        list-style: none;
    }

    &__button {
        min-width: 120px;
        min-height: 50px;
    }

    &__item--cart {
        position: relative;
    }
}


.cart-status {

    position: absolute;
    right: -6px;
    top: -3px;

    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 10px;
    line-height: 1.2;

    background-color: $secondary-color;
    border-radius: 50%;
}
