.header-navigation {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 4vh;
    row-gap: 15px;
    width: 100%;
    min-height: 50px;

    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.15;
    color: $main-color;

    &__logo {
        margin-right: auto;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 15px;
        column-gap: 60px;

        list-style: none;

        @media (max-width: $tablet-width) {
            display: none;

            position: absolute;
            top: 60px;
            z-index: 2;

            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 100vw;
            padding: 30px;

            background-color: white;
        }

    }
}


.menu {

    &__link {
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }
}

.toolbar {

    &__list {
        display: flex;
        flex-direction: row;
        gap: 60px;
        align-items: center;
        max-width: 290px;
        height: 100%;

        list-style: none;

        @media (max-width: $mobile-width) {
            gap: 40px;
        }
    }

    &__button {
        min-width: 120px;
        min-height: 50px;

        @media (max-width: $tablet-width) {
            display: none;
        }

        &--mobile {
            display: block;
            border: none;

            @media (min-width: $tablet-width) {
                display: none;
            }
        }
    }

    &__item--cart {
        position: relative;
    }
}


.cart-status {

    position: absolute;
    right: -6px;
    top: -3px;

    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    font-size: 10px;
    line-height: 1.2;

    background-color: $secondary-color;
    border-radius: 50%;
}
