.header-navigation {

    /* Позиционирование */

    /* Блочная модель */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 60px;
    row-gap: 15px;

    width: 100%;
    min-height: 50px;

    /* Типографика */
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.15;

    /* Оформление */

}

.header-navigation {

    &__logo {
        margin-right: auto;
    }

    &__menu {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 60px;
        max-width: 450px;

        list-style: none;
    }

    a {
        text-decoration: none;
    }
}

.toolbar__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    max-width: 290px;
    height: 100%;

    list-style: none;
}

