.intro {
    margin: 8vw 0;

    &__illustration {
        order: 2;
        position: relative;
    }

    &__img {

        width: 100%;
        object-fit: contain;

        @media (max-width: $tablet-xs-width) {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 50vw;
            height: auto;

            opacity: 10%;
        }
    }

    &__button {

        min-width: 12vw;
        min-height: 50px;

        @media (max-width: $tablet-width) {
            background-color: transparent;
            color: var(--main-color);
            box-shadow: unset;
            text-decoration: underline;

            &:hover,
            &:focus {
                opacity: 0.6;
                background-color: transparent;
            }

        }

        &--transparent {

            color: var(--main-color);
            background-color: transparent;
            box-shadow: none;
            text-decoration: underline;

            &:hover,
            &:focus {
                opacity: 0.6;
                background-color: transparent;
            }

            @media (max-width: $tablet-width) {
                display: flex;
                justify-content: center;
                align-items: center;

                min-width: 162px;
                min-height: 50px;

                color: #ffffff;
                text-decoration: none;

                background-color: var(--secondary-color);
                border: none;
                border-radius: 5px;
                box-shadow: 0 22px 40px 0 rgba(255, 104, 56, 0.19);

                &:hover,
                &:focus {
                    background-color: var(--secondary-lighten);
                }

                &:active {
                    background-color: var(--secondary-darken);
                }
            }


        }
    }
}

