.intro {
    margin: 8vw 0;

}

.intro-illustration {
    order: 2;
    position: relative;

    &__img {

        object-fit: contain;
        width: 100%;

        @media (max-width: $tablet-xs-width) {
            position: absolute;
            right: 0;
            bottom: 0;

            width: 50vw;
            height: auto;

            opacity: 10%;
        }
    }

    &__decoration {

        &--blocks {

            &::before {
                content: "";
                position: absolute;
                background-image: url("/src/img/decoration/intro-customer.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 11vw;
                height: 4vw;
                right: 32%;
                top: 40%;

                @media (max-width: $tablet-xs-width) {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url("/src/img/decoration/intro-sandwich.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 11vw;
                height: 4vw;
                right: 5%;
                top: 56%;

                @media (max-width: $tablet-xs-width) {
                    display: none;
                }
            }
        }

        &--cubes {
            &::before {
                content: "";
                position: absolute;
                background-image: url("/src/img/decoration/intro-search.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 7vw;
                height: 7vw;
                right: 32%;
                top: 40%;

                @media (max-width: $tablet-xs-width) {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                background-image: url("/src/img/decoration/intro-search.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: 7vw;
                height: 7vw;
                right: 5%;
                top: 56%;

                @media (max-width: $tablet-xs-width) {
                    display: none;
                }
            }
        }
    }
}




.button--intro {
    min-width: 12vw;
    min-height: 50px;

    @media (max-width: $desktop-width) {
        background-color: transparent;
        color: $main-color;
        box-shadow: unset;
        text-decoration: underline;
    }

    &:hover {
        @media (max-width: $desktop-width) {
            background-color: transparent;
        }
    }
}

.link--intro {
    color: $main-color;

    @media (max-width: $desktop-width) {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 162px;
        min-height: 50px;


        color: #ffffff;
        text-decoration: none;

        background-color: $secondary-color;
        border: none;
        border-radius: 5px;
        box-shadow: 0 22px 40px 0 rgba(255, 104, 56, 0.19);

        &:hover,
        &:focus {
            background-color: $secondary-lighten;
        }

        &:active {
            background-color: $secondary-darken;
        }
    }
}