.popular {

    &__title {
        text-align: center;
        margin: 55px 0;
    }

    &__filter,
    &__cards,
    &__slider {
        margin: 0 auto 40px;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.popular-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    list-style: none;
    color: white;

    &__item {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;

        width: 210px;
        max-height: 70px;

        color: $main-color;

        background-color: #ffffff;
        border-radius: 8px;


        &--current {
            background-color: $secondary-color;
            color: #ffffff;
        }

    }

}

.popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.popular-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 208px;
    min-height: 280px;
    padding: 16px;

    font-size: 15px;
    line-height: 1.2;

    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;

    &__rating {
        display: grid;
        grid-template-columns: repeat(5, 20px);
        min-height: 20px;
    }

    &__star {
        background-image: url("./../img/icons/star.png");
        width: 20px;
        height: 20px;

    }

    &__button {
        min-width: 120px;
    }
}

.popular-slider {
    display: flex;
    min-width: 210px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 34px;
        height: 34px;

        border: none;
        background-color: transparent;
        
        &--previous {
            rotate: 180deg;
        }


    }
}

.popular-slider {

    display: flex;
    gap: 25px;
    min-width: 210px;

    &__points {
        display: flex;
        justify-content: space-between;
        min-width: 90px;
    }

    &__point {
        border: 6px solid rgba(54, 56, 83, 0.2);
        border-radius: 50%;
    }
}