.popular {

    margin: 8vw 0;

    &__title {
        text-align: center;
        margin: 55px 0;
    }

    &__filter,
    &__cards,
    &__slider {
        margin: 0 auto 40px;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.popular-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 15px;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    list-style: none;
    color: white;

    &__item {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;

        width: 14vw;
        min-width: 120px;
        max-width: 210px;
        min-height: 3vw;

        color: $main-color;

        background-color: #ffffff;
        border-radius: 8px;


        &--current {
            background-color: $secondary-color;
            color: #ffffff;
        }

    }

    &__img {
        @media (max-width: $tablet-width) {
            display: none;
        }
    }

}

.popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    list-style: none;

}

.popular-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 14vw;
    min-width: 120px;
    max-width: 210px;
    min-height: 280px;
    padding: 1vw;

    font-size: 15px;
    line-height: 1.2;

    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;

    @media (max-width: $tablet-s-width) {
        flex-direction: row;
        justify-content: space-between;
        min-height: 10vw;
        width: 100%;
        max-width: 100%;

        background-color: white;
    }

    &__name {
    }

    &__rating {
        display: grid;
        grid-template-columns: repeat(5, 20px);
        min-height: 20px;
    }

    &__star {
        background-image: url("./../img/icons/star.png");
        width: 20px;
        height: 20px;

    }

    &__button {
        display: none;

        @media (min-width: $tablet-s-width) {
            display: block;
            min-width: 120px;
        }

        &--mobile {
            width: 8vw;
            height: 6vw;
            background-color: transparent;
            border: none;
            cursor: pointer;


            @media (min-width: $tablet-s-width) {
                display: none;
            }

        }

    }

    &__image {
        height: 10vw;
        width: auto;
        
        @media (max-width: $tablet-s-width) {
            height: 10vw;
        }
        
    }

}

.popular-slider {
    display: flex;
    min-width: 210px;

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 34px;
        height: 34px;

        border: none;
        background-color: transparent;
        
        &--previous {
            rotate: 180deg;
        }


    }
}

.popular-slider {

    display: flex;
    gap: 25px;
    min-width: 210px;

    &__points {
        display: flex;
        justify-content: space-between;
        min-width: 90px;
    }

    &__point {
        border: 6px solid rgba(54, 56, 83, 0.2);
        border-radius: 50%;
    }
}