.popular {

    &__title {
        text-align: center;
        margin: 55px 0;
    }

    &__filter,
    &__cards,
    &__slider {
        margin: 0 auto;
        margin-bottom: 40px;
    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



.popular-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    list-style: none;
    color: white;

    &__item {
        min-width: 210px;
        max-height: 70px;
        padding: 23px 47px 23px;

        background-color: $secondary-color;
        border-radius: 8px;
    }

}


.popular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.popular-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 208px;
    min-height: 280px;
    padding: 16px;

    background-color: #ffffff;
    text-align: center;
    border-radius: 12px;

    &__rating {
        display: grid;
        grid-template-columns: repeat(5, 20px);
        min-height: 20px;
    }

    &__star {
        background-image: url("./../img/icons/star.png");
        width: 20px;
        height: 20px;

    }
}