.reviews {
    margin: 8vw 0;

    &__content {
    display: grid;
    grid-template-columns: 40% 60%;

        @media (max-width: $tablet-s-width) {
            grid-template-columns: 100%;

        }

    img {
        width: 30vw;
        height: 36vw;
        max-width: 430px;
        max-height: 520px;

        border-radius: 24px;
        object-fit: cover;
        background-color: aqua;

        @media (max-width: $tablet-s-width) {
            display: none;

        }

    }

}

    &__title {
    text-align: center;
    margin-bottom: 4vw;
}
}


.quote-section {
    padding-left: 10vw;
    width: 100%;


    @media (max-width: $tablet-s-width) {
        padding: 0;

    }

    &__text {
        padding: 7vh 0 ;
        position: relative;

        &::before {
            @mixin quotes;
            left: 0;
            top: 0;
        }

        &::after {
            @mixin quotes;
            right: 0;
            bottom: 0;
        }

    }



    &__switcher {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

    &__author {
          min-width: 120px;

         .author__name {

             @mixin fluid-text 20, 16
            line-height: 1.15;
             color: $secondary-color;
             margin-bottom: 18px;
         }

         .author__about {
             @mixin fluid-text 14, 12;
             line-height: 1.2;
             color: $light-color;
         }
     }
}

.quote-buttons {
     width: 108px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;



    button {
        size: 32px;
        border: none;
        background: none;
    }

    &__next,
    &__previous {
        background-color: transparent;
        border: none;
    }

    &__next {
        position: relative;
        top: 0;
        left: 0;
    }

    &__previous {
        position: relative;
        top: 0;
        left: 0;
    }
}
