.reviews {
    margin: 8vw 0;

    &__content {
    display: grid;
    grid-template-columns: 40% 60%;

        @media (max-width: $tablet-s-width) {
            grid-template-columns: 100%;

        }

    img {
        width: 30vw;
        height: 36vw;
        max-width: 430px;
        max-height: 520px;

        border-radius: 24px;
        object-fit: cover;
        background-color: aqua;

        @media (max-width: $tablet-s-width) {
            display: none;

        }

    }

}

    &__title {
    text-align: center;
    margin-bottom: 4vw;
}
}


.quote-section {
    padding-left: 10vw;
    width: 100%;

    @media (max-width: $tablet-s-width) {
        padding: 0;

    }

    &__text {
        padding: 65px 0 74px;
        position: relative;

        &::before {
            @mixin quotes;
            left: -38px;
            top: 70px;
        }

        &::after {
            @mixin quotes;
            right: -34px;
            bottom: 30px;
        }

    }



    &__switcher {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

    &__author {
          min-width: 120px;

         .author__name {
            font-size: 20px;
            line-height: 1.15;
             color: $secondary-color;
             margin-bottom: 18px;
         }

         .author__about {
             font-size: 14px;
             line-height: 1.2;
             color: $light-color;
         }
     }
}

.quote-buttons {
     width: 108px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;

    button {
        size: 32px;
        border: none;
        background: none;
    }

}
