.subscription {
    margin: 16vw 0;

    &__content {
        min-height: 312px;
        padding: 10vh 15vh 10vh;

        background-image: url("./../img/decoration/subscribe-background.png");
        background-size: cover;
        background-repeat: no-repeat;

        text-align: center;
        color: #ffffff;
        border-radius: 30px;

        @media (max-width: $tablet-width) {
            min-height: 200px;
            padding: 5vh;
        }

        @media (max-width: $mobile-s-width) {
            min-height: 200px;
            padding: 2vh;
        }
    }

    &__title {
        margin-bottom: 12px;

        color: #ffffff;
        font-size: 40px;

        @mixin fluid-text 40, 18;
    }

    &__text {
        margin-bottom: 32px;

        @mixin fluid-text 16, 12;
        line-height: 1.9;

        opacity: 80%;
    }
}

.subscription-form {
    max-width: 840px;
    height: 78px;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    padding: 10px;

    background-color: #ffffff;
    border-radius: 70px;

    @media (max-width: $tablet-xs-width) {
        height: auto;
        padding: 2%;
    }

    label {
        width: 100%;
        height: 100%;
    }

    input {

        @media (max-width: $mobile-width) {
            &::placeholder {
                color: #ffffff;
            }
        }

        &:focus,
        &:hover {
            outline: 2px solid $secondary-color;
        }
    }

    &__input {
        width: 100%;
        height: 100%;
        border: none;

        padding-left: 2vw;
        border-radius: 70px;

        @mixin fluid-text 20, 10;
    }

    &__button {
        height: 95%;
        padding-left: 15%;

        @mixin icon sub;
        background-position-x: 20px;
        background-position-y: 18px;
        background-size: 14px;
        border-radius: 70px;

        @media (max-width: $tablet-xs-width) {
            display: none;
        }

        &--mobile {
            height: 95%;
            border-radius: 70px;

            @media (min-width: $tablet-xs-width) {
                display: none;
            }
        }
    }
}