.restaurants__title {
    margin-bottom: 50px;
    text-align: center;
}

.restaurants-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 43px;

    list-style: none;
}

.restaurant {
    min-width: 360px;
    min-height: 417px;

    background-color: #ffffff;
    border-radius: 53px 5px 53px 5px;

    &__image {
        border-radius: 53px 5px 0 0;
    }

    &__info {
        padding: 20px;
    }

    &__link {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        height: 33px;
        width: 80px;

        color: white;

        text-decoration: none;
        background-color: $secondary-color;
        border-radius: 20px 20px 0px 20px;

    }
}

